<!-- Begin Header Wrapper -->
  <div id="page-top">
    <div id="header-wrapper"> 
      <!-- Begin Header -->
      <div id="header">
        <div id="logo"><h1>Ethnopedia</h1></div>
        <!-- Logo --> 
        <!-- Begin Menu -->
        <div id="menu-wrapper">
          <div id="smoothmenu1" class="ddsmoothmenu">
            <ul>
              <li><a href="../index.html">Home</a>
              </li>
              <li><a href="/account/">Profilo</a></li>   
              <li>Chi siamo
                <ul>
                  <li><a href="/chisiamo.html">Chi siamo</a></li>
				  <li><a href="/mentality.html">La nostra mentalità</a></li>
                  <li><a href="/faq.html">FAQ</a></li>
                </ul>
              </li>
              <li><a href="/contatti.html">Contatti</a></li>
              <li><a href="/donazioni.html">Fai una donazione</a></li>
            </ul>
          </div>
        </div>
        <!-- End Menu --> 
      </div>
      <!-- End Header --> 
    </div>
  </div>
  <!-- End Header Wrapper --> 